@charset "UTF-8";
h1{
    font-style: italic;
    text-align:center;
    background-image: url('ins.jpg');
    background-position: center left;
    background-size: cover;
    background-size: 20px 30px;
    background-repeat: no-repeat;
    background-position-x: 100px;
    
    
    
}
input{
    width: 230px;
    height: 20px;
    background-position: center;
    
    
    
}
h3{
    text-align: center;
}
button{
    background-color: rgb(109, 189, 235);
    border-radius:30px ;
    width: 100px;
    padding: 5px;
    

}
h4{
    word-spacing: normal;
    height: fit-content;
    background-position: center;
    background-image: url('face.jpg');
    background-position: center left;
    background-size: cover;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position-x: 110px;
    
    
}
a{
    text-decoration: none;
}
body{
    background:linear-gradient(to right,purple,rgb(230, 87, 163),orange);
    
    background-clip: text;
    
   
    width: 400px;
    height: fit-content; 
    border-spacing: to right,200px ;
    
    box-sizing: border-box;
    border: 2px solid white;
    background-color: aliceblue;
    background-clip: calc();
   margin: auto ;
    margin-top: 60px;
    border-color:white;
    
}
h2{
	border:2px solid black;
	background:linear-gradient(to right,purple,rgb(230, 87, 163),orange);
	border-radius:20px;
	width:150px;
}

form{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}